<!--
  Generated template for the SelectedLevelPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title text-center>Level {{level}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content text-center padding>
  <div class="divContent" *ngIf="quizIncomplete" (swipeleft)="swipeLeftEvent($event)" (swiperight)="swipeRightEvent($event)">
    <h1>{{questionCategory}}</h1>
    <h1>{{questionMessage}}</h1>
  </div>
  <div *ngIf="!quizIncomplete" class="divContent">
  <h1>You have Finished the Quiz!</h1>
  <h1>You answered {{correctQuestions}} questions Correctly!</h1>
  <h1>You Scored a total of {{totalPoints}} Points!</h1>

  <ion-footer *ngIf="!quizIncomplete">
    <button ion-button (click)="handleFinishedQuiz()">Return</button>
  </ion-footer>
  </div>

</ion-content>
